{% extends "myapp/base2.html" %}
{% load i18n %}
{% load account %}

{% block head_title %}{% trans "Sign Out" %}{% endblock %}

<head lang="en">
    <meta charset="UTF-8">
    <title>Sign Out</title>
</head>

{% block content %}
<h1>{% trans "Sign Out" %}</h1>

<p>{% trans 'Are you sure you want to sign out?' %}</p>

<form method="post" action="/p/home/">
  {% csrf_token %}
  <!--# {% if redirect_field_value %}
  <!--<input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
  {% endif %} -->
  <button type="submit">{% trans 'Sign Out' %}</button>
</form>

{% endblock %}