<html xmlns="http://www.w3.org/1999/html">
{% load staticfiles %}

<head lang="en">
    <meta charset="UTF-8">
    <title>EV</title>
    <link rel="stylesheet" type="text/css" href="{% static 'myapp/mycss.css' %}" />

    <!--Load the AJAX API-->
        <script type="text/javascript" src="https://www.google.com/jsapi"></script>
        <script type="text/javascript" src="https://code.jquery.com/jquery-1.9.1.min.js"></script>
        <script src="http://d3js.org/d3.v3.min.js"></script>
        <script src="http://dimplejs.org/dist/dimple.v2.1.2.min.js"></script>
</head>
<body>
    <div class="page" style=" width: 100%; height: 100%; ">
        <p2 align="right" style="width: 80px; height: 30px; background-color:lightgray; margin-right: 2% position:relative;">
            <a href="/accounts/logout/"> <center>Logout</center> </a>
        </p2>
        <br/><br/>
        <h1 style="margin-left:40%"> My Electronic Vehicles </h1>
        <br/>
        <div style="width: 30%; height: 500px; margin-left: 2%; margin-right:auto; margin-bottom: 10%">
   			<a>
                <div style="width: 100%; background-color:#ADFF2F">
                    <a style="color: green; font-size: 23px;"> <center>EV</center> </a>
                </div>
            </a>
            <a>
                <div style="width: 100%; height: 47.5%; background-color:lightgray">
                     <a>

                               <ul style="vertical-align: middle; -webkit-padding-start: 0px;">
                                   <input type="checkbox" class="graph-button">EV1</input>
                                   <br/>
                                   <input type="checkbox" class="graph-button">EV2</input>
                                   <br/>
                                   <input type="checkbox" class="graph-button">EV3</input>
                               </ul>


                     </a>
                </div>
            </a>
            <a>
                <div style="width: 100%; height: 5%; background-color:transparent">
                    <a> <center></center> </a>
                </div>
            </a>

            <a>
                <div style="width: 100%; background-color:#ADFF2F">
                    <a style="color: green; font-size: 23px;"> <center>Energy Indicators</center> </a>
                </div>
            </a>
            <a>
                <div style="width: 100%; height: 47.5%; background-color:lightgray">
                     <a>

                     </a>
                </div>
            </a>
   	    </div>
        <div style="width: 64%; height: 800px; margin-left: 2%; margin-right:auto; margin-bottom: 10%">

                <div style="width: 100%; background-color:#ADFF2F">
                    <a style="color: green; font-size: 23px;"> <center>Diagrams</center> </a>
                </div>

                <div class="row1" style="width:100%; margin-top: 1%">
                <!--=== Choose diagrams ===-->

                    <div style="display: inline; width: 100%">
                        <div style="width: 4%">
                            <form action="/p/EV/" method="post" >
                                {% csrf_token %}
                                <input type="image" name="diagram" value="line"  src="{% static 'myapp/images/line_chart.png' %}" alt="Submit Form" />
                            </form>
                        </div>
                        <div style="width: 4%">
                            <form action="/p/EV/" method="post">
                                {% csrf_token %}
                                <input type="image" name="diagram" value="bar"  src="{% static 'myapp/images/bar_chart.jpg' %}" alt="Submit Form" />
                            </form>
                        </div>
                        <div style="width: 4%">
                            <form action="/p/EV/" method="post">
                                {% csrf_token %}
                                <input type="image" name="diagram" value="pie"  src="{% static 'myapp/images/pie_chart2.png' %}" alt="Submit Form" />
                            </form>
                        </div>
                        <div style="width: 4%">
                            <form action="/p/EV/" method="post">
                                {% csrf_token %}
                                <input type="image" name="diagram" value="table"  src="{% static 'myapp/images/table.jpg' %}" alt="Submit Form" />
                            </form>
                        </div>
                        <a style="float: right;">
                            {{choose_time.as_p}}
                        </a>
                    </div>
                 </div>
<!--/////////////////////////////////////// AGGELOS //////////////////////////////////////////////////-->


                <div class='diagram_area' style="width: 100%; height: 80%; background-color:lightgray"></div>



   	    </div>
        <br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/>
    </div>
    <script type="text/javascript">
    var svg = dimple.newSvg(".diagram_area", 800, 600);
    $('.graph-button').on('change', function(){

        $.ajax({
            type: "get",
            data: {state: $('.graph-button').prop('checked').toString(), csrfmiddlewaretoken:'{{ csrf_token }}'},
            cache: 'false',
            url: 'http://127.0.0.1:8000/p/aggelos_data/',
            dataType: "json",
            error: function() {
              alert('something went wrong');
              window.location.reload();
            },
            success: function(response) {
                svg.selectAll('*').remove();
                var chart = new dimple.chart(svg, response);
                if ($('.graph-button').prop('checked')) {
                    chart.addCategoryAxis("x", "dimos");
                    chart.addMeasureAxis("y", "kwdikos");
                }
                else {
                    chart.addCategoryAxis("x", "karekla");
                    chart.addMeasureAxis("y", "upsos");
                }
                chart.addSeries(null, dimple.plot.bar);
                chart.draw();
            }
        })
    })





  </script>

</body>



</html>