{% extends "myapp/base1.html" %}

<html>
{% load staticfiles %}

{% block content %}



<head lang="en">
    <meta charset="UTF-8">
    <title>EV</title>
    <link rel="stylesheet" type="text/css" href="{% static 'myapp/mycss.css' %}" />

    <!--Load the AJAX API-->
        <script type="text/javascript" src="https://www.google.com/jsapi"></script>
        <script type="text/javascript">

          // Load the Visualization API and the piechart package.
          google.load('visualization', '1', {'packages':['corechart']});
          // google.load('visualization', '1.1', {'packages':['line']});
          //google.load('visualization', '1.0', {'packages':['corechart']});

          // Set a callback to run when the Google Visualization API is loaded.
          google.setOnLoadCallback(drawLineChart);

          // Callback that creates and populates a data table,
          // instantiates the pie chart, passes in the data and
          // draws it.
          function drawLineChart() {

              // Create
              var data = new google.visualization.DataTable();
              data.addColumn('string', 'Topping');
              data.addColumn('number', 'Slices');
              data.addRows([
               ['Room1', 3],
               ['Room2', 1],
               ['', 1],
               ['Room3', 1],
               ['Room4', 1],
               ['Room5', 2]
              ]);

              // Set chart options
              var options = {
                  'title': 'Line Chart',
                  'is3D': true
              };

              var chart = new google.visualization.LineChart(document.getElementById('line_chart'));
              chart.draw(data, options);

          }

          google.setOnLoadCallback(drawBarChart);

          // Callback that creates and populates a data table,
          // instantiates the pie chart, passes in the data and
          // draws it.
          function drawBarChart() {

              // Create
              var data2 = new google.visualization.DataTable();
              data2.addColumn('string', 'Topping');
              data2.addColumn('number', 'Slices');

              data2.addRows([
               ['Room1', 3],
               ['Room2', 1],
               ['', 1],
               ['Room3', 1],
               ['Room4', 1],
               ['Room5', 2]
              ]);

              // Set chart options
              var options2 = {'title':'Bar Chart',
                            'is3D':true};

              var chart2 = new google.visualization.BarChart(document.getElementById('bar_chart'));
              chart2.draw(data2, options2);

          }

          google.setOnLoadCallback(drawPieChart);

          // Callback that creates and populates a data table,
          // instantiates the pie chart, passes in the data and
          // draws it.
          function drawPieChart() {

              var data3 = new google.visualization.DataTable();
              data3.addColumn('string', 'Topping');
              data3.addColumn('number', 'Slices');
              data3.addRows([
              ['Room1', 3],
              ['Room2', 1],
              ['', 1],
              ['Room3', 1],
              ['Room4', 1],
              ['Room5', 2]
              ]);

              // Set chart options
              var options3 = {'title':'Pie chart',
                            'is3D':true};

              var chart3 = new google.visualization.PieChart(document.getElementById('pie_chart'));
              chart3.draw(data3, options3);

          }

        </script>






</head>
<body>
    <div class="page" style=" width: 100%; height: 100%; ">
        <p2 align="right" style="width: 80px; height: 30px; background-color:lightgray; margin-right: 2% position:relative;">
            <a href="/accounts/logout/"> <center>Logout</center> </a>
        </p2>
        <br/><br/>
        <h1 style="margin-left:40%"> My Electronic Vehicles </h1>
        <br/>
        <div style="width: 30%; height: 500px; margin-left: 2%; margin-right:auto; margin-bottom: 10%">
   			<a>
                <div style="width: 100%; background-color:#ADFF2F">
                    <a style="color: green; font-size: 23px;"> <center>EV</center> </a>
                </div>
            </a>
            <a>
                <div style="width: 100%; height: 47.5%; background-color:lightgray">
                     <a>
                            {{ form1.as_p }}
                            {{ form2.as_p }}
                            {{ form3.as_p }}
                     </a>
                </div>
            </a>
            <a>
                <div style="width: 100%; height: 5%; background-color:transparent">
                    <a> <center></center> </a>
                </div>
            </a>

            <a>
                <div style="width: 100%; background-color:#ADFF2F">
                    <a style="color: green; font-size: 23px;"> <center>Energy Indicators</center> </a>
                </div>
            </a>
            <a>
                <div style="width: 100%; height: 47.5%; background-color:lightgray">
                     <a>
                         {{ form4.as_p }}
                         {{ form5.as_p }}
                         {{ form6.as_p }}
                     </a>
                </div>
            </a>
   	    </div>
        <div style="width: 64%; height: 800px; margin-left: 2%; margin-right:auto; margin-bottom: 10%">

                <div style="width: 100%; background-color:#ADFF2F">
                    <a style="color: green; font-size: 23px;"> <center>Diagrams</center> </a>
                </div>

                <div class="row1" style="width:100%; margin-top: 1%">
                <!--=== Choose diagrams ===-->

                    <div style="display: inline; width: 100%">
                        <div style="width: 4%">
                            <form action="/p/EV/" method="post" >
                                {% csrf_token %}
                                <input type="image" name="diagram" value="line"  src="{% static 'myapp/images/line_chart.png' %}" alt="Submit Form" />
                            </form>
                        </div>
                        <div style="width: 4%">
                            <form action="/p/EV/" method="post">
                                {% csrf_token %}
                                <input type="image" name="diagram" value="bar"  src="{% static 'myapp/images/bar_chart.jpg' %}" alt="Submit Form" />
                            </form>
                        </div>
                        <div style="width: 4%">
                            <form action="/p/EV/" method="post">
                                {% csrf_token %}
                                <input type="image" name="diagram" value="pie"  src="{% static 'myapp/images/pie_chart2.png' %}" alt="Submit Form" />
                            </form>
                        </div>
                        <div style="width: 4%">
                            <form action="/p/EV/" method="post">
                                {% csrf_token %}
                                <input type="image" name="diagram" value="table"  src="{% static 'myapp/images/table.jpg' %}" alt="Submit Form" />
                            </form>
                        </div>
                        <a style="float: right;">
                            {{choose_time.as_p}}
                        </a>
                    </div>
                 </div>


                <div style="width: 100%; height: 80%; background-color:lightgray">
                     <!--<a>-->
                         <center>
                         {% ifequal diagram None %}
                            <!--Divs that will hold the charts-->
                            <div id="line_chart" style="width: 100%; height: 100%;"></div>
                         {% endifequal %}
                         {% ifequal diagram 'line' %}

                            <!--Divs that will hold the charts-->
                            <div id="line_chart" style="width: 100%; height: 100%;"></div>
                         {% endifequal %}
                         {% ifequal diagram 'bar' %}

                            <!--Divs that will hold the charts-->
                            <div id="bar_chart" style="width: 100%; height: 100%;"></div>
                         {% endifequal %}
                         {% ifequal diagram 'pie' %}

                            <!--Divs that will hold the charts-->
                            <div id="pie_chart" style="width: 100%; height: 100%;"></div>
                         {% endifequal %}
                         </center>
                     <!--</a>-->
                </div>

   	    </div>
        <br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/>
    </div>


</body>

{% endblock %}

</html>