<!DOCTYPE html>
{% extends "myapp/base2.html" %}
<html>
{% load staticfiles %}

<head lang="en">
    <meta charset="UTF-8">
    <title>Home</title>
    <link rel="stylesheet" type="text/css" href="{% static 'myapp/mycss.css' %}" />

    <script type="text/javascript" src="https://www.google.com/jsapi"></script>

</head>

{% block content %}

<body style="height: 900px">


<br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/>
<div style="width:100%;">
<ul id="recent-projects" class="col-sm-12 text-center" style="display: inline; width: 100%">
    <!--=== Begin Item 1 ===-->
    <li onclick="" class="item col-sm-3 col-xs-6" style="display: inline; float: left; width:100%">

        <div class="border" style="width:30%; margin-left: 5%">
            <div class="view portfolio-hover-1">
                <!--=== Project Thumb ===-->
                <img src="{% static 'myapp/images/hand.jpg' %}" alt="..." class="img-responsive" />
                <div class="mask">
                    <div class="portfolio-hover-content">
                           <!--=== Zoom + Project Link ===-->
                        <a href="/p/buildings" class="info image-zoom-link">
                            <div class="portfolio-icon-holder"><span class="ion-ios7-search portfolio-icons"></span></div>
                        </a>
                        <a href="#" class="info">
                            <div class="portfolio-icon-holder"><span class="ion-link portfolio-icons"></span></div>
                        </a>
                    </div><!-- /portfolio hover content -->
                </div><!-- /mask-->
            </div><!-- /portfolio hover -->
            <div class="portfolio-text background-white" style="width:93%;">
                  <h3 class="portfolio-title" style="color:#1a9404"><center>Energy Data Analytics</center></h3>
                  <div class="project-category" style="text-align: justify;text-justify: inter-word;">
                    Our sophisticated data analytic techniques give utilities personalised simple and useful insight into what is actually using the energy in their buildings, street lighting and electric vehicles and how to manage this.
                  </div>
                <br/><br/><br/><br/><br/><br/><br/><br/><br/><br/>
            </div>


        </div>
        <div class="border" style="width:30%;">
            <div class="view portfolio-hover-1">
                <!--=== Project Thumb ===-->
                <img src="{% static 'myapp/images/background.jpg' %}" alt="..." class="img-responsive" />
                <div class="mask">
                    <div class="portfolio-hover-content">
                           <!--=== Zoom + Project Link ===-->
                        <a href="/p/buildings" class="info image-zoom-link">
                            <div class="portfolio-icon-holder"><span class="ion-ios7-search portfolio-icons"></span></div>
                        </a>
                        <a href="#" class="info">
                            <div class="portfolio-icon-holder"><span class="ion-link portfolio-icons"></span></div>
                        </a>
                    </div><!-- /portfolio hover content -->
                </div><!-- /mask-->
            </div><!-- /portfolio hover -->
            <div class="portfolio-text background-white" style="width:93%;">
                  <h3 class="portfolio-title" style="color:#1a9404"><center>Digital Engagement</center></h3>
                  <div class="project-category" style="text-align: justify;text-justify: inter-word;">People expect more than ever from their utility online. It's time to exceed those expectations. Energagement's solution provides utilities with a best-in-class web solution that gives customers the personalized insights they want on a platform designed specifically to help utilities reach their energy goals.
                  </div>
                <br/><br/><br/><br/><br/><br/><br/><br/><br/><br/>
            </div>
        </div>

        <div class="border" style="width:30%">
            <div class="view portfolio-hover-1">
                <!--=== Project Thumb ===-->
                <img src="{% static 'myapp/images/green_buildings.jpg' %}" alt="..." class="img-responsive" />
                <div class="mask">
                    <div class="portfolio-hover-content">
                           <!--=== Zoom + Project Link ===-->
                        <a href="/p/buildings" class="info image-zoom-link">
                            <div class="portfolio-icon-holder"><span class="ion-ios7-search portfolio-icons"></span></div>
                        </a>
                        <a href="#" class="info">
                            <div class="portfolio-icon-holder"><span class="ion-link portfolio-icons"></span></div>
                        </a>
                    </div><!-- /portfolio hover content -->
                </div><!-- /mask-->
            </div><!-- /portfolio hover -->
            <div class="portfolio-text background-white" style="width:93%;">
                  <h3 class="portfolio-title" style="color:#1a9404"><center>Big Data</center></h3>
                  <div class="project-category" style="text-align: justify;text-justify: inter-word;">By applying the technology advancements of big data, cloud computing, analytics, machine learning, and social human-computer interaction models, our users are realizing the full potential of their energy system investments.
                  </div>
                <br/><br/><br/><br/><br/><br/><br/><br/><br/><br/>
            </div>
        </div>

    </li><!-- /list item -->
    <!--=== End Item 1 ===-->

</ul><!-- /portfolio ul -->
</div>
<br/><br/><br/><br/><br/><br/><br/><br/><br/>

        <center><img src="{% static 'myapp/images/green_buildings.jpg' %}" width="500" height="300" name="slide" /></center>
        <script type="text/javascript">
            var step=1;
            function slideit()
            {
                var DJANGO_STATIC_URL = "{% static 'myapp/images/'%}";
                var image1 = new Image();
                image1.src = DJANGO_STATIC_URL+"green_buildings.jpg";
                var image2 = new Image();
                image2.src = DJANGO_STATIC_URL+"hand.jpg";
                //var step=1;
                document.images.slide.src = eval("image"+step+".src")
                if(step<2)
                    step++
                else
                    step=1
                setTimeout("slideit()",2500)
            }
            slideit()
        </script>

<br/><br/>

</body>

{% endblock %}

</html>