<!DOCTYPE html>
<html>
{% load staticfiles %}
<head lang="en">
    <meta charset="UTF-8">
    <title>Energagement</title>
    <link rel="stylesheet" type="text/css" href="{% static 'myapp/mycss.css' %}" />
</head>
<body>
    <div class="page" style=" width: 100%; height: 100%; ">
        <p2 align="right" style="width: 80px; height: 30px; background-color:lightgray; margin-right: 2% position:relative;">
            <a href="/accounts/logout/"> <center>Logout</center> </a>
        </p2>
        <p1 > <center style="margin-right:12%"> <b>  Energagement </b> </center>  </p1>
        <br/>

        <div class="box1" style="width: 251px; height: auto; margin-left: 10%; margin-right:auto; margin-bottom: 10%">
   			<a>
                <div style="width: 100%; background-color:#ADFF2F">
                    <a href="/p/buildings/"> <center>Buildings</center> </a>
                </div>
            </a>
            <div style="width: 100%">
                <a href="/p/buildings/"> <img src="{% static 'myapp/images/buildings1.jpg' %}"/> </a>
            </div>
   	    </div>

        <div class="box2" style="width: 251px; height: auto; margin-left: 10%; margin-right:auto; margin-bottom: 10%">
   			<a>
                <div style="width: 100%; background-color:#ADFF2F">
                    <a href="/p/street_lighting/"> <center>Street Lighting</center> </a>
                </div>
            </a>
            <div style="width: 100%">
                <a href="/p/street_lighting/"> <img src="{% static 'myapp/images/street_lighting1.jpg' %}"/> </a>
            </div>
   	    </div>

        <div class="box3" style="width: 251px; height: auto; margin-left: 10% ;margin-right:auto; margin-bottom: 10%">
   			<a>
                 <div style="width: 100%; background-color:#ADFF2F">
                    <a href="/p/EV/"> <center>EV</center> </a>
                </div>
            </a>
            <div style="width: 100%">
                <a href="/p/EV/"> <img src="{% static 'myapp/images/EV1.jpg' %}"/> </a>
            </div>
   	    </div>

    </div>
</body>
</html>