<!DOCTYPE html>
<html>
{% load staticfiles %}
<head lang="en">
    <meta charset="UTF-8">
    <title>Energagement</title>
    <link rel="stylesheet" type="text/css" href="{% static 'myapp/mycss.css' %}" />
</head>
<body>
    <p1> <center> <b>  Energagement </b> </center>  </p1>
    <br/>
    <div class="box1">
   			<table style="background-color:lightgrey" width=327″ class="floatedTable"  frame="box">
        		<tr style="background-color:#ADFF2F">
					<th width=283″> <center> <b> Buildings </b></center></th>
				</tr>
                <tr style="background-color:#ADFF2F">
					<th width=283″> <center> </center></th>
				</tr>
   			</table>
   	</div>
    <div class="keno">
    </div>
    <div class="box2">
   			<table style="background-color:lightgrey" width=327″ class="floatedTable"  frame="box">
        		<tr style="background-color:#ADFF2F">
					<th width=283″> <center> <b> Street Lighting </b></center></th>
				</tr>
                <tr style="background-color:#ADFF2F">
					<th width=283″> <center> </center></th>
				</tr>
   			</table>
   	</div>
    <div class="keno">
    </div>
    <div class="box3">
   			<table style="background-color:lightgrey" width=327″ class="floatedTable"  frame="box">
        		<tr style="background-color:#ADFF2F">
					<th width=283″> <center> <b> EV </b></center></th>
				</tr>
                <tr style="background-color:#ADFF2F">
					<th width=283″> <center> </center></th>
				</tr>
   			</table>
   	</div>
</body>
</html>