{% extends "myapp/base3.html" %}
<html xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html">
{% load staticfiles %}

{% block content %}

<head lang="en">
    <meta charset="UTF-8">
    <title>EV</title>
    <link rel="stylesheet" type="text/css" href="{% static 'myapp/mycss.css' %}" />
    <!-- <link rel="stylesheet" media="all" href="https://s3.amazonaws.com/dynatable-docs-assets/css/jquery.dynatable.css" /> -->
    <link rel="stylesheet" type="text/css" href="{% static 'myapp/jquery.dynatable.css' %}" />

    <!--Load the AJAX API-->
        <script type="text/javascript" src="https://www.google.com/jsapi"></script>
        <script type="text/javascript" src="https://code.jquery.com/jquery-1.9.1.min.js"></script>
        <script src="http://d3js.org/d3.v3.min.js"></script>
        <script src="http://dimplejs.org/dist/dimple.v2.1.2.min.js"></script>
      <!--  <script type="text/javascript" src="{% static 'myapp/jquery.dynatable.js"></script>-->
        <script src="{% static 'myapp/jquery.dynatable.js' %}" type="text/javascript"></script>
</head>
<body>

        <p2 align="right" style="width: 80px; height: 30px; background-color:lightgray; margin-right: 2% position:relative;">
            <div class="dropdown">
                <a class="account">My Account</a>

                <div class="submenu">
                    <ul class="root">
                        <li ><a href="#" >Dashboard</a></li>
                        <li ><a href="#" >Profile</a></li>
                        <li ><a href="#">Settings</a></li>
                        <li ><a href="/accounts/logout">Logout</a></li>
                    </ul>
                </div>

            </div>
        </p2>
        <br/><br/>

        <br/>
        <div style="width: 30%; height: 500px;  margin-right:auto; margin-bottom: 10%">
   			<a>
                <div style="width: 100%; background-color:#ADFF2F">
                    <a style="color: green; font-size: 23px;"> <center>EV</center> </a>
                </div>
            </a>
            <a>
                <div style="width: 100%; height: 52.5%; background-color:lightgray; overflow-y: scroll">
                     <a>
                         {% for item in test1 %}
                                <ul style="vertical-align: middle; -webkit-padding-start: 0px;">
                                <p><input type="checkbox" class="graph-button" id="graph-button-{{item.id}}">EV{{item.id}}</input></p>

                                <p style="margin-left: 4%; color: #272727; margin-bottom: -2%; margin-top: 1%"> municipality: {{item.municipality}} </p>
                                <p style="margin-left: 4%; color: #272727"> code: {{item.code}} </p>
                                </ul>
                         {% endfor %}
                     </a>
                </div>
            </a>
            <a>
                <div style="width: 100%; height: 5%; background-color:transparent">
                    <a> <center></center> </a>
                </div>
            </a>
            <a>
                <div style="width: 100%; background-color:#ADFF2F">
                    <a style="color: green; font-size: 23px;"> <center>Energy Indicators</center> </a>
                </div>
            </a>
            <a>
                <div style="width: 100%; height: 47.5%; background-color:lightgray; overflow-y: scroll">
                     <a>
                        <ul style="vertical-align: middle; -webkit-padding-start: 0px;">
                             <input class="radio-button" type="radio" name="indicator" value="kw" checked="checked">kw</input><br>
                             <input class="radio-button" type="radio" name="indicator" value="kwh">kwh</input><br>
                             <input class="radio-button" type="radio" name="indicator" value="kw_line">kw/line</input>
                        </ul>
                     </a>
                </div>
            </a>
   	    </div>
        <div style="width: 64%; height: 950px; margin-left: 2%; margin-right:auto; margin-bottom: 2%">
                <!--<div style="width: 100%; background-color:#ADFF2F">
                    <a style="color: green; font-size: 23px;"> <center>Diagrams</center> </a>
                </div>-->

<!--/////////////////////////////////////// diagrams //////////////////////////////////////////////////-->
                <div class="row1" style="width:105%; margin-top: 1%">
                <table id="myTable">
                    <thead>
                        <th data-dynatable-column="dimos">municipality</th>
                        <th data-dynatable-column="kwdikos">code</th>
                        <th data-dynatable-column="metric" >metric <a class="-webkit-any-link" href="#" id="metric"> </a></th>
                        <th data-dynatable-column="timestamp">timestamp</th>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
                </div>


                <div class="row1" style="width:105%; margin-top: 1%">
                <!--=== Choose diagrams ===-->
                    <div style="display: inline; width: 100%">
                        <div style="width: 4%">
                                <input type="image" class="line" name="diagram" value="line"  src="{% static 'myapp/images/line_chart.png' %}" alt="Submit Form" />
                        </div>
                        <div style="width: 4%">
                                <input type="image" class="bar" name="diagram" value="bar"  src="{% static 'myapp/images/bar_chart.jpg' %}" alt="Submit Form" />
                        </div>
                        <div style="width: 4%">
                                <input type="image" class="pie" name="diagram" value="pie"  src="{% static 'myapp/images/pie_chart2.png' %}" alt="Submit Form" />
                        </div>
                        <div style="width: 4%">
                                <input type="image" name="diagram" value="table"  src="{% static 'myapp/images/table.jpg' %}" alt="Submit Form" />
                        </div>
                        <a style="float: right; color: black"> Time scope:
                             <select class="select_hour">
                                        <option value="hour">hour</option>
                                        <option value="day">day</option>
                                        <option value="week">week</option>
                                        <option value="month">month</option>
                             </select>
                        </a>
                    </div>
                 </div>

                <div class='diagram_area' style="width: 105%; height: 70%; margin-top: 1%; background-color:lightgray; overflow: scroll">
                </div>

   	    </div>

    <script type="text/javascript" >


    $(".account").click(function(){
        var X=$(this).attr('id');
        if(X==1)
        {
            $(".submenu").hide();
            $(this).attr('id', '0');
        }
        else
        {
            $(".submenu").show();
            $(this).attr('id', '1');
        }

    });

    //Mouse click on sub menu
    $(".submenu").mouseup(function(){
        return false
    });

    //Mouse click on my account link
    $(".account").mouseup(function(){
        return false
    });


    //Document Click
    $(document).mouseup(function(){
        $(".submenu").hide();
        $(".account").attr('id', '');
    });
    </script>



    <script type="text/javascript">
    var svg = dimple.newSvg(".diagram_area", 900, 600);
    /* to remember the last type of diagram - initialized with bar */
    var last1="bar";


    $('.graph-button, .radio-button').on('click', function(){
        /* list with the graph buttons that are checked */
        console.log($('input[name="indicator"]:checked').val());
        document.getElementById("metric").innerHTML = "("+ $('input[name="indicator"]:checked').val()+")";
        var list = $('.graph-button:checkbox:checked');
        var x='';
        for(i=0;i<list.length;i++) {
            /* make a string with the items seperated with _ */
            x += list[i].id.toString() + '_'
        }
        /* erase the last _ */
        x = x.substring(0, x.length - 1);
        console.log(x);
        $.ajax({
                type: "get",
                data: {state: x, state2:$('input[name="indicator"]:checked').val(), csrfmiddlewaretoken: '{{ csrf_token }}'},
                cache: 'false',
                url: 'http://localhost:8000/p/data_test/',
                dataType: "json",
                error: function () {
                    alert('something went wrong');
                    //window.location.reload();
                },
                success: function (response) {
                    //console.log(response);
                    var dynatable=$('#myTable').dynatable({
                    dataset: {

                        records: response
                    }
                    }).data('dynatable');
                    dynatable.settings.dataset.originalRecords = response;
                    dynatable.process();

                    svg.selectAll('*').remove();
                    var chart = new dimple.chart(svg, response);

                        //var ring = chart.addSeries("dimos", dimple.plot.pie);
                        //ring.innerRadius = "50%";
                        //chart.addLegend(500, 60, 90, 300, "left");

                        if (last1=="bar"){
                            var x=chart.addCategoryAxis("x", "timestamp");
                            x.title="date";
                            var y=chart.addMeasureAxis("y", "metric");
                            y.title=document.querySelector('input[name="indicator"]:checked').value;
                            chart.addSeries('dimos', dimple.plot.bar);
                        }
                        else if (last1=="line"){
                            var x=chart.addCategoryAxis("x", "timestamp");
                            x.title="date";
                            var y=chart.addMeasureAxis("y", "metric");
                            y.title=document.querySelector('input[name="indicator"]:checked').value;
                            var s = chart.addSeries("dimos", dimple.plot.line);
                            s.interpolation = "cardinal";
                            //chart.addSeries('dimos', dimple.plot.line);
                        }
                        else{
                            chart.setBounds(60, 60, 460, 360);
                            var p=chart.addMeasureAxis("p", "metric");
                            p.title=document.querySelector('input[name="indicator"]:checked').value;
                            chart.addSeries('dimos', dimple.plot.pie);
                        }
                        chart.addLegend(350, 27, 510, 50, "right");
                        chart.draw();

                }
            })
    });

    $('.line').on('click', function(){
        /* list with the graph buttons that are checked */
        var list = $('.graph-button:checkbox:checked');
        var x='';
        for(i=0;i<list.length;i++) {
            /* make a string with the items seperated with _ */
            x += list[i].id.toString() + '_'
        }
        /* erase the last _ */
        x = x.substring(0, x.length - 1);
        console.log(x);
        $.ajax({
                type: "get",
                data: {state: x, state2:$('input[name="indicator"]:checked').val(), csrfmiddlewaretoken: '{{ csrf_token }}'},
                cache: 'false',
                url: 'http://localhost:8000/p/data_test/',
                dataType: "json",
                error: function () {
                    alert('something went wrong');
                    //window.location.reload();
                },
                success: function (response) {
                    //console.log(response);
                    var dynatable=$('#myTable').dynatable({
                    dataset: {

                        records: response
                    }
                    }).data('dynatable');
                    dynatable.settings.dataset.originalRecords = response;
                    dynatable.process();
                    svg.selectAll('*').remove();
                    var chart = new dimple.chart(svg, response);

                        //var ring = chart.addSeries("dimos", dimple.plot.pie);
                        //ring.innerRadius = "50%";
                        //chart.addLegend(500, 60, 90, 300, "left");
                        var x=chart.addCategoryAxis("x", "timestamp");
                        x.title="date";
                        var y=chart.addMeasureAxis("y", "metric");
                        y.title=document.querySelector('input[name="indicator"]:checked').value;
                        var s = chart.addSeries("dimos", dimple.plot.line);
                        s.interpolation = "cardinal";
                        //chart.addSeries('dimos', dimple.plot.line);
                        chart.addLegend(410, 27, 510, 50, "right");
                        chart.draw();
                        last1="line"


                }
            })
    });

    $('.bar').on('click', function(){
        /* list with the graph buttons that are checked */
        var list = $('.graph-button:checkbox:checked');
        var x='';
        for(i=0;i<list.length;i++) {
            /* make a string with the items seperated with _ */
            x += list[i].id.toString() + '_'
        }
        /* erase the last _ */
        x = x.substring(0, x.length - 1);
        console.log(x);
        $.ajax({
                type: "get",
                data: {state: x, state2:$('input[name="indicator"]:checked').val(), csrfmiddlewaretoken: '{{ csrf_token }}'},
                cache: 'false',
                url: 'http://localhost:8000/p/data_test/',
                dataType: "json",
                error: function () {
                    alert('something went wrong');
                    //window.location.reload();
                },
                success: function (response) {
                    //console.log(response);
                    var dynatable=$('#myTable').dynatable({
                    dataset: {

                        records: response
                    }
                    }).data('dynatable');
                    dynatable.settings.dataset.originalRecords = response;
                    dynatable.process();
                    svg.selectAll('*').remove();
                    var chart = new dimple.chart(svg, response);

                        //var ring = chart.addSeries("dimos", dimple.plot.pie);
                        //ring.innerRadius = "50%";
                        //chart.addLegend(500, 60, 90, 300, "left");
                        var x=chart.addCategoryAxis("x", "timestamp");
                        x.title="date";
                        var y=chart.addMeasureAxis("y", "metric");
                        y.title=document.querySelector('input[name="indicator"]:checked').value;
                        chart.addSeries('dimos', dimple.plot.bar);
                        chart.addLegend(410, 27, 510, 50, "right");
                        chart.draw();
                        last1="bar"


                }

            })
    });

    $('.pie').on('click', function() {
            /* list with the graph buttons that are checked */
        var list = $('.graph-button:checkbox:checked');
        var x='';
        for(i=0;i<list.length;i++) {
            /* make a string with the items seperated with _ */
            x += list[i].id.toString() + '_'
        }
        /* erase the last _ */
        x = x.substring(0, x.length - 1);
        console.log(x);
        $.ajax({
                type: "get",
                data: {state: x, state2:$('input[name="indicator"]:checked').val(), csrfmiddlewaretoken: '{{ csrf_token }}'},
                cache: 'false',
                url: 'http://localhost:8000/p/data_test/',
                dataType: "json",
                error: function () {
                    alert('something went wrong');
                    //window.location.reload();
                },
                success: function (response) {
                    //console.log(response);
                    var dynatable=$('#myTable').dynatable({
                    dataset: {

                        records: response
                    }
                    }).data('dynatable');
                    dynatable.settings.dataset.originalRecords = response;
                    dynatable.process();
                    svg.selectAll('*').remove();
                    var chart = new dimple.chart(svg, response);

                        //var ring = chart.addSeries("dimos", dimple.plot.pie);
                        //ring.innerRadius = "50%";
                        //chart.addLegend(500, 60, 90, 300, "left");
                        chart.setBounds(60, 60, 460, 360);
                        var p=chart.addMeasureAxis("p", "metric");
                        p.title=document.querySelector('input[name="indicator"]:checked').value;
                        chart.addSeries('dimos', dimple.plot.pie);
                        chart.addLegend(410, 27, 510, 50, "right");
                        chart.draw();
                        last1="pie";


                }
            })
    });


  </script>


</body>

</html>

{% endblock %}