{% extends "myapp/base3.html" %}
<html xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html">
{% load staticfiles %}

{% block content %}

<head lang="en">
    <meta charset="UTF-8">
    <title>EV</title>
    <link rel="stylesheet" type="text/css" href="{% static 'myapp/mycss.css' %}" />
    <!-- <link rel="stylesheet" media="all" href="https://s3.amazonaws.com/dynatable-docs-assets/css/jquery.dynatable.css" /> -->
    <link rel="stylesheet" type="text/css" href="{% static 'myapp/jquery.dynatable.css' %}" />

    <!--Load the AJAX API-->
    <script type="text/javascript" src="https://www.google.com/jsapi"></script>
    <script type="text/javascript" src="https://code.jquery.com/jquery-1.9.1.min.js"></script>
    <script src="http://d3js.org/d3.v3.min.js"></script>
    <script src="http://dimplejs.org/dist/dimple.v2.1.2.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <!--  <script type="text/javascript" src="{% static 'myapp/jquery.dynatable.js"></script>-->
    <script src="{% static 'myapp/jquery.dynatable.js' %}" type="text/javascript"></script>
    <script type="text/javascript" src="xepOnline.jqPlugin.js"></script>
    <script type="text/javascript" src="extensions/export/bootstrap-table-export.js"></script>
    <script type="text/javascript" src="jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="js/dataTables.bootstrap.js"></script>
    <script type="text/javascript" src="js/jquery.table2excel.js"></script>

</head>
<body>


    <br/><br/>
    <br/>
    <div style="width: 30%; height: 500px;  margin-right:auto; margin-bottom: 10%">
   	    <a>
            <div style="width: 100%; background-color:#ADFF2F">
                <a style="color: green; font-size: 23px;"> <center>EV</center> </a>
            </div>
        </a>

            <div style="width: 100%; height: 52.5%; background-color:lightgray; overflow-y: scroll">
                        <ul style="vertical-align: middle; -webkit-padding-start: 0px;">
                        {% for item in test1 %}
                             <input type="checkbox" class="graph-button" id="graph-button-{{item.id}}"><a data-toggle="collapse" href="#collapse{{item.id}}">EV{{item.id}}</a></input>
                             </br>
                             <div id="collapse{{item.id}}" class="collapse in">
                                 <a class="panel-body" style="margin-left: 10%; color: #272727; margin-bottom: -2%; margin-top: 1%"> municipality: {{item.municipality}} </a>
                                <!-- <a style="margin-left: 4%; color: #272727"> code: {{item.code}} </a>-->
                             </div>
                             <br/><br/>
                        {% endfor %}
                        </ul>
            </div>

        <a>
            <div style="width: 100%; height: 5%; background-color:transparent">
                <a> <center></center> </a>
            </div>
        </a>
        <a>
            <div style="width: 100%; background-color:#ADFF2F">
                <a style="color: green; font-size: 23px;"> <center>Energy Indicators</center> </a>
            </div>
        </a>
        <a>
            <div style="width: 100%; height: 47.5%; background-color:lightgray; overflow-y: scroll">
                <a>
                    <ul style="vertical-align: middle; -webkit-padding-start: 0px;">
                        <input class="radio-button" type="radio" name="indicator" value="kw" checked="checked">kw</input><br>
                        <input class="radio-button" type="radio" name="indicator" value="kwh">kwh</input><br>
                        <input class="radio-button" type="radio" name="indicator" value="kw_line">kw/line</input>
                    </ul>
                </a>
            </div>
        </a>
   	</div>

    <!--------------------------------------------------- diagrams --------------------------------------------------------->

    <div style="width: 64%; height: 950px; margin-left: 2%; margin-right:auto; margin-bottom: 2%">

        <div class="row1" style="width:105%; margin-top: 1%">
            <table id="myTable">
                <thead>
                    <th data-dynatable-column="dimos">municipality</th>
                    <th data-dynatable-column="kwdikos">code</th>
                    <th data-dynatable-column="metric" >metric <a class="-webkit-any-link" href="#" id="metric"> </a></th>
                    <th data-dynatable-column="timestamp">timestamp <a class="-webkit-any-link" href="#" id="timestamp"> </a> </th>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>


        <div class="row1" style="width:105%; margin-top: 1%">
        <!--=== Choose diagrams ===-->
            <div style="display: inline; width: 100%">
                <div style="width: 4%">
                    <input type="image" class="line" name="diagram" value="line"  src="{% static 'myapp/images/line_chart.png' %}" alt="Submit Form" />
                </div>
                <div style="width: 4%">
                    <input type="image" class="bar" name="diagram" value="bar"  src="{% static 'myapp/images/bar_chart.jpg' %}" alt="Submit Form" />
                </div>
                <div style="width: 4%">
                    <input type="image" class="pie" name="diagram" value="pie"  src="{% static 'myapp/images/pie_chart2.png' %}" alt="Submit Form" />
                </div>
                <div style="width: 4%">
                    <input type="image" name="diagram" value="table"  src="{% static 'myapp/images/table.jpg' %}" alt="Submit Form" />
                </div>
                    <a style="float: right; color: black"> Time scope per:
                       <select class="select_time" name="select_time">
                            <option value="hour">hour</option>
                            <option value="day">day</option>
                            <option value="week">week</option>
                            <option value="month">month</option>
                        </select>
                        from:
                        <input class="select_date" id="from_date" type="date" name="from_date">
                        to:
                        <input class="select_date" id="to_date" type="date" name="to_date">
                    </a>
            </div>
        </div>

        <div class='diagram_area' style="width: 105%; height: 70%; margin-top: 1%; background-color:lightgray; overflow: scroll">
        </div>

    </div>



<!---------------------------------------------- Scripts ----------------------------------------------------------------------->


<script type="text/javascript" >

    $(document).ready( function() {
        var today = new Date();
        var dd = today.getDate();
        var mm = today.getMonth()+1; //January is 0!
        var yyyy = today.getFullYear();

        if(dd<10) {
            dd='0'+dd
        }

        if(mm<10) {
            mm='0'+mm
        }

        today = yyyy+'-'+mm+'-'+dd;
        document.querySelector('#from_date').value = today;
        document.querySelector('#to_date').value = today;
        //document.getElementById("select_date").defaultValue = "2014-02-09";
    });

    $(".header").click(function () {

        $header = $(this);
        //getting the next element
        $content = $header.next();
        //open up the content needed - toggle the slide- if visible, slide up, if not slidedown.
        $content.hide(
            //execute this after slideToggle is done
            //change text of header based on visibility of content div
            //$header.text(function () {
                //change text based on condition
                //  return $content.is(":visible") ? "Collapse" : "Expand";
            //});
        );

    });

    var svg = dimple.newSvg(".diagram_area", 900, 600);
    /* to remember the last type of diagram - initialized with bar */
    var last1="bar";

    $('.select_time, .select_date').on('change', function(){
        /* list with the graph buttons that are checked */
        console.log($('input[name="indicator"]:checked').val());
        document.getElementById("metric").innerHTML = "("+ $('input[name="indicator"]:checked').val()+")";
        document.getElementById("timestamp").innerHTML = "("+ $('select[name="select_time"] option:selected').text()+")";
        var list = $('.graph-button:checkbox:checked');
        var x='';
        for(i=0;i<list.length;i++) {
            /* make a string with the items seperated with _ */
            x += list[i].id.toString() + '_'
        }
        /* erase the last _ */
        x = x.substring(0, x.length - 1);
        console.log(x);
        var time= $('select[name="select_time"] option:selected').text();
        var from_date= $('input[name="from_date"]').val();
        var to_date= $('input[name="to_date"]').val();
        console.log(from_date);
        $.ajax({
                type: "get",
                data: {state: x, state2:$('input[name="indicator"]:checked').val(), state3:time, state4:from_date, state5:to_date, csrfmiddlewaretoken: '{{ csrf_token }}'},
                cache: 'false',
                url: 'http://localhost:8000/p/data_test/',
                dataType: "json",
                error: function () {
                    alert('something went wrong');
                    //window.location.reload();
                },
                success: function (response) {
                    //console.log(response);
                    var dynatable=$('#myTable').dynatable({
                    dataset: {

                        records: response
                    }
                    }).data('dynatable');
                    dynatable.settings.dataset.originalRecords = response;
                    dynatable.process();

                    svg.selectAll('*').remove();
                    var chart = new dimple.chart(svg, response);

                    chart.defaultColors = [
                            new dimple.color('#99FF00'),
                            new dimple.color('#525229'),
                            new dimple.color('#3D997A'),
                            new dimple.color('#BBBBBB'),
                            new dimple.color('#EEEEEE')
                    ];
                        //var ring = chart.addSeries("dimos", dimple.plot.pie);
                        //ring.innerRadius = "50%";
                        //chart.addLegend(500, 60, 90, 300, "left");
                        if (last1=="bar"){
                            var x=chart.addCategoryAxis("x", "timestamp");
                            x.title=$('select[name="select_time"] option:selected').text();
                            x.color = "green";
                            x.addOrderRule(["Jan", "Feb", "Mar", "Apr", "May", "Jun", "Jul", "Aug", "Sep", "Oct", "Nov", "Dec"]);
                            x.addOrderRule(["01", "02", "03", "04", "05", "06", "07", "08", "09", "10", "11", "12", "13", "14", "15", "16", "17", "18", "19", "20", "21", "22", "23", "24", "25", "26", "27", "28", "29", "30", "31"]);
                            x.addOrderRule="date";
                            var y=chart.addMeasureAxis("y", "metric");
                            y.title=document.querySelector('input[name="indicator"]:checked').value;
                            chart.addSeries('dimos', dimple.plot.bar);

                        }
                        else if (last1=="line"){
                            var x=chart.addCategoryAxis("x", "timestamp");
                            x.title=$('select[name="select_time"] option:selected').text();
                            x.addOrderRule(["Jan", "Feb", "Mar", "Apr", "May", "Jun", "Jul", "Aug", "Sep", "Oct", "Nov", "Dec"]);
                            x.addOrderRule(["01", "02", "03", "04", "05", "06", "07", "08", "09", "10", "11", "12", "13", "14", "15", "16", "17", "18", "19", "20", "21", "22", "23", "24", "25", "26", "27", "28", "29", "30", "31"]);

                            var y=chart.addMeasureAxis("y", "metric");
                            y.title=document.querySelector('input[name="indicator"]:checked').value;
                            var s = chart.addSeries("dimos", dimple.plot.area);
                            s.interpolation = "cardinal";
                            //chart.addSeries('dimos', dimple.plot.line);
                        }
                        else{
                            chart.setBounds(60, 60, 460, 360);
                            var p=chart.addMeasureAxis("p", "metric");
                            p.title=document.querySelector('input[name="indicator"]:checked').value;
                            chart.addSeries('dimos', dimple.plot.pie);
                        }
                        chart.addLegend(350, 27, 510, 50, "right");
                        chart.draw();

                }
            })
    });

    $('.graph-button, .radio-button').on('click', function(){
        /* list with the graph buttons that are checked */
        console.log($('input[name="indicator"]:checked').val());
        document.getElementById("metric").innerHTML = "("+ $('input[name="indicator"]:checked').val()+")";
        document.getElementById("timestamp").innerHTML = "("+ $('select[name="select_time"] option:selected').text()+")";
        var list = $('.graph-button:checkbox:checked');
        var x='';
        for(i=0;i<list.length;i++) {
            /* make a string with the items seperated with _ */
            x += list[i].id.toString() + '_'
        }
        /* erase the last _ */
        x = x.substring(0, x.length - 1);
        console.log(x);
        var time= $('select[name="select_time"] option:selected').text();
        var from_date= $('input[name="from_date"]').val();
        var to_date= $('input[name="to_date"]').val();
        console.log(from_date);
        $.ajax({
                type: "get",
                data: {state: x, state2:$('input[name="indicator"]:checked').val(), state3:time, state4:from_date, state5:to_date, csrfmiddlewaretoken: '{{ csrf_token }}'},
                cache: 'false',
                url: 'http://localhost:8000/p/data_test/',
                dataType: "json",
                error: function () {
                    alert('something went wrong');
                    //window.location.reload();
                },
                success: function (response) {
                    //console.log(response);
                    var dynatable=$('#myTable').dynatable({
                    dataset: {

                        records: response
                    }
                    }).data('dynatable');
                    dynatable.settings.dataset.originalRecords = response;
                    dynatable.process();

                    svg.selectAll('*').remove();
                    var chart = new dimple.chart(svg, response);

                    chart.defaultColors = [
                            new dimple.color('#99FF00'),
                            new dimple.color('#525229'),
                            new dimple.color('#3D997A'),
                            new dimple.color('#BBBBBB'),
                            new dimple.color('#EEEEEE')
                    ];
                        //var ring = chart.addSeries("dimos", dimple.plot.pie);
                        //ring.innerRadius = "50%";
                        //chart.addLegend(500, 60, 90, 300, "left");

                        if (last1=="bar"){
                            var x=chart.addCategoryAxis("x", "timestamp");
                            x.title=$('select[name="select_time"] option:selected').text();
                            x.color = "green";
                            x.addOrderRule(["Jan", "Feb", "Mar", "Apr", "May", "Jun", "Jul", "Aug", "Sep", "Oct", "Nov", "Dec"]);
                            x.addOrderRule(["01", "02", "03", "04", "05", "06", "07", "08", "09", "10", "11", "12", "13", "14", "15", "16", "17", "18", "19", "20", "21", "22", "23", "24", "25", "26", "27", "28", "29", "30", "31"]);

                            var y=chart.addMeasureAxis("y", "metric");
                            y.title=document.querySelector('input[name="indicator"]:checked').value;
                            chart.addSeries('dimos', dimple.plot.bar);
                        }
                        else if (last1=="line"){
                            var x=chart.addCategoryAxis("x", "timestamp");
                            x.title=$('select[name="select_time"] option:selected').text();
                            x.addOrderRule(["Jan", "Feb", "Mar", "Apr", "May", "Jun", "Jul", "Aug", "Sep", "Oct", "Nov", "Dec"]);
                            x.addOrderRule(["01", "02", "03", "04", "05", "06", "07", "08", "09", "10", "11", "12", "13", "14", "15", "16", "17", "18", "19", "20", "21", "22", "23", "24", "25", "26", "27", "28", "29", "30", "31"]);

                            var y=chart.addMeasureAxis("y", "metric");
                            y.title=document.querySelector('input[name="indicator"]:checked').value;
                            var s = chart.addSeries("dimos", dimple.plot.area);
                            s.interpolation = "cardinal";
                            //chart.addSeries('dimos', dimple.plot.line);
                        }
                        else{
                            chart.setBounds(60, 60, 460, 360);
                            var p=chart.addMeasureAxis("p", "metric");
                            p.title=document.querySelector('input[name="indicator"]:checked').value;
                            chart.addSeries('dimos', dimple.plot.pie);
                        }
                        chart.addLegend(350, 27, 510, 50, "right");
                        chart.draw();

                }
            })
    });

    $('.line').on('click', function(){
        /* list with the graph buttons that are checked */
        var list = $('.graph-button:checkbox:checked');
        var x='';
        for(i=0;i<list.length;i++) {
            /* make a string with the items seperated with _ */
            x += list[i].id.toString() + '_'
        }
        /* erase the last _ */
        x = x.substring(0, x.length - 1);
        console.log(x);
        var time= $('select[name="select_time"] option:selected').text();
        var from_date= $('input[name="from_date"]').val();
        var to_date= $('input[name="to_date"]').val();
        console.log(time);
        $.ajax({
                type: "get",
                data: {state: x, state2:$('input[name="indicator"]:checked').val(), state3:time, state4:from_date, state5:to_date, csrfmiddlewaretoken: '{{ csrf_token }}'},
                cache: 'false',
                url: 'http://localhost:8000/p/data_test/',
                dataType: "json",
                error: function () {
                    alert('something went wrong');
                    //window.location.reload();
                },
                success: function (response) {
                    //console.log(response);
                    var dynatable=$('#myTable').dynatable({
                    dataset: {

                        records: response
                    }
                    }).data('dynatable');
                    dynatable.settings.dataset.originalRecords = response;
                    dynatable.process();
                    svg.selectAll('*').remove();
                    var chart = new dimple.chart(svg, response);

                        chart.defaultColors = [
                            new dimple.color('#99FF00'),
                            new dimple.color('#525229'),
                            new dimple.color('#3D997A'),
                            new dimple.color('#BBBBBB'),
                            new dimple.color('#EEEEEE')
                        ];

                        //var ring = chart.addSeries("dimos", dimple.plot.pie);
                        //ring.innerRadius = "50%";
                        //chart.addLegend(500, 60, 90, 300, "left");
                        var x=chart.addCategoryAxis("x", "timestamp");
                        x.title=$('select[name="select_time"] option:selected').text();
                        x.title=$('select[name="select_time"] option:selected').text();
                        x.addOrderRule(["Jan", "Feb", "Mar", "Apr", "May", "Jun", "Jul", "Aug", "Sep", "Oct", "Nov", "Dec"]);
                        x.addOrderRule(["01", "02", "03", "04", "05", "06", "07", "08", "09", "10", "11", "12", "13", "14", "15", "16", "17", "18", "19", "20", "21", "22", "23", "24", "25", "26", "27", "28", "29", "30", "31"]);
                        var y=chart.addMeasureAxis("y", "metric");
                        y.title=document.querySelector('input[name="indicator"]:checked').value;
                        var s = chart.addSeries("dimos", dimple.plot.area);
                        s.interpolation = "cardinal";
                        //chart.addSeries('dimos', dimple.plot.line);
                        chart.addLegend(410, 27, 510, 50, "right");
                        chart.draw();
                        last1="line"


                }
            })
    });

    $('.bar').on('click', function(){
        /* list with the graph buttons that are checked */
        var list = $('.graph-button:checkbox:checked');
        var x='';
        for(i=0;i<list.length;i++) {
            /* make a string with the items seperated with _ */
            x += list[i].id.toString() + '_'
        }
        /* erase the last _ */
        x = x.substring(0, x.length - 1);
        console.log(x);
        var time= $('select[name="select_time"] option:selected').text();
        var from_date= $('input[name="from_date"]').val();
        var to_date= $('input[name="to_date"]').val();
        console.log(time);
        $.ajax({
                type: "get",
                data: {state: x, state2:$('input[name="indicator"]:checked').val(), state3:time, state4:from_date, state5:to_date, csrfmiddlewaretoken: '{{ csrf_token }}'},
                cache: 'false',
                url: 'http://localhost:8000/p/data_test/',
                dataType: "json",
                error: function () {
                    alert('something went wrong');
                    //window.location.reload();
                },
                success: function (response) {
                    //console.log(response);
                    var dynatable=$('#myTable').dynatable({
                    dataset: {

                        records: response
                    }
                    }).data('dynatable');
                    dynatable.settings.dataset.originalRecords = response;
                    dynatable.process();
                    svg.selectAll('*').remove();
                    var chart = new dimple.chart(svg, response);

                    chart.defaultColors = [
                            new dimple.color('#99FF00'),
                            new dimple.color('#525229'),
                            new dimple.color('#3D997A'),
                            new dimple.color('#BBBBBB'),
                            new dimple.color('#EEEEEE')
                    ];
                        //var ring = chart.addSeries("dimos", dimple.plot.pie);
                        //ring.innerRadius = "50%";
                        //chart.addLegend(500, 60, 90, 300, "left");
                        var x=chart.addCategoryAxis("x", "timestamp");
                        x.title=$('select[name="select_time"] option:selected').text();
                        x.addOrderRule(["Jan", "Feb", "Mar", "Apr", "May", "Jun", "Jul", "Aug", "Sep", "Oct", "Nov", "Dec"]);
                        x.addOrderRule(["01", "02", "03", "04", "05", "06", "07", "08", "09", "10", "11", "12", "13", "14", "15", "16", "17", "18", "19", "20", "21", "22", "23", "24", "25", "26", "27", "28", "29", "30", "31"]);
                        x.title=$('select[name="select_time"] option:selected').text();
                        var y=chart.addMeasureAxis("y", "metric");
                        y.title=document.querySelector('input[name="indicator"]:checked').value;
                        chart.addSeries('dimos', dimple.plot.bar);
                        chart.addLegend(410, 27, 510, 50, "right");
                        chart.draw();
                        last1="bar"


                }

            })
    });

    $('.pie').on('click', function() {
            /* list with the graph buttons that are checked */
        var list = $('.graph-button:checkbox:checked');
        var x='';
        for(i=0;i<list.length;i++) {
            /* make a string with the items seperated with _ */
            x += list[i].id.toString() + '_'
        }
        /* erase the last _ */
        x = x.substring(0, x.length - 1);
        console.log(x);
        var time= $('select[name="select_time"] option:selected').text();
        var from_date= $('input[name="from_date"]').val();
        var to_date= $('input[name="to_date"]').val();
        console.log(time);
        $.ajax({
                type: "get",
                data: {state: x, state2:$('input[name="indicator"]:checked').val(), state3:time, state4:from_date, state5:to_date, csrfmiddlewaretoken: '{{ csrf_token }}'},
                cache: 'false',
                url: 'http://localhost:8000/p/data_test/',
                dataType: "json",
                error: function () {
                    alert('something went wrong');
                    //window.location.reload();
                },
                success: function (response) {
                    //console.log(response);
                    var dynatable=$('#myTable').dynatable({
                    dataset: {

                        records: response
                    }
                    }).data('dynatable');
                    dynatable.settings.dataset.originalRecords = response;
                    dynatable.process();
                    svg.selectAll('*').remove();
                    var chart = new dimple.chart(svg, response);

                    chart.defaultColors = [
                            new dimple.color('#99FF00'),
                            new dimple.color('#525229'),
                            new dimple.color('#3D997A'),
                            new dimple.color('#BBBBBB'),
                            new dimple.color('#EEEEEE')
                    ];
                        //var ring = chart.addSeries("dimos", dimple.plot.pie);
                        //ring.innerRadius = "50%";
                        //chart.addLegend(500, 60, 90, 300, "left");
                        chart.setBounds(60, 60, 460, 360);
                        var p=chart.addMeasureAxis("p", "metric");
                        p.title=document.querySelector('input[name="indicator"]:checked').value;
                        chart.addSeries('dimos', dimple.plot.pie);
                        chart.addLegend(410, 27, 510, 50, "right");
                        chart.draw();
                        last1="pie";


                }
            })
    });

$(document).on('click','.collapse collapse',function(e) {
    if( $(e.target).is('a') && $(e.target).attr('class') != 'dropdown-toggle' ) {
        $(this).collapse('hide');
    }
});

</script>


</body>

</html>

{% endblock %}