
{% extends "admin/base.html" %}
<html>
{% load staticfiles %}


{% block content %}


<head lang="en">
    <meta charset="UTF-8">
    <title>EV</title>
    <link rel="stylesheet" type="text/css" href="{% static 'myapp/mycss.css' %}" />

    <!--Load the AJAX API-->
        <script type="text/javascript" src="https://www.google.com/jsapi"></script>
        <script type="text/javascript">

          // Load the Visualization API and the piechart package.
          google.load('visualization', '1.0', {'packages':['corechart']});
          google.load('visualization', '1.1', {'packages':['line']});
          //google.load('visualization', '1.0', {'packages':['corechart']});

          // Set a callback to run when the Google Visualization API is loaded.
          google.setOnLoadCallback(drawChart);

          // Callback that creates and populates a data table,
          // instantiates the pie chart, passes in the data and
          // draws it.
          function drawChart() {

            // Create
            var data = new google.visualization.DataTable();
            data.addColumn('string', 'Topping');
            data.addColumn('number', 'Slices');
            data.addRows([
              ['Room1', 3],
              ['Room2', 1],
              ["", 1],
              ['Room3', 1],
              ['Room4', 1],
              ['Room5', 2]
            ]);
            // Create
            var data2 = new google.visualization.DataTable();
            data2.addColumn('string', 'Topping');
            data2.addColumn('number', 'Slices');
            data2.addRows([
              ['Room1', 3],
              ['Room2', 1],
              ["", 1],
              ['Room3', 1],
              ['Room4', 1],
              ['Room5', 2]
            ]);

            var data3 = new google.visualization.DataTable();
            data3.addColumn('string', 'Topping');
            data3.addColumn('number', 'Slices');
            data3.addRows([
              ['Room1', 3],
              ['Room2', 1],
              ["", 1],
              ['Room3', 1],
              ['Room4', 1],
              ['Room5', 2]
            ]);

            // Set chart options
            var options = {'title':'Pie Chart',
                           'width':852,
                           'height':518,
                            'is3D':true};
            // Set chart options
            var options2 = {'title':'Bar Chart',
                           'width':852,
                           'height':518,
                            'is3D':true};
            // Set chart options
            var options3 = {'title':'Line chart',
                           'width':852,
                           'height':518,
                            'is3D':true};

            // Instantiate and draw our chart, passing in some options.
            var chart = new google.visualization.PieChart(document.getElementById('chart_div'));
            chart.draw(data, options);
            var chart2 = new google.visualization.BarChart(document.getElementById('bar_chart'));
            chart2.draw(data2, options2);
            var chart3 = new google.visualization.LineChart(document.getElementById('line_chart'));
            chart3.draw(data3, options3);

          }
        </script>

</head>

<body>

                            <div id="chart_div" style="width: 100%;"></div>


                            <div id="bar_chart" style="width: 100%;"></div>

                            <div id="line_chart" style="width: 100%;"></div>

</body>

{% endblock %}

</html>